*{
    box-sizing: border-box;

}


                        /* header of page */
.cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 40px;
    width: 1000px;
}
            /* responseve of mobile */
@media (max-width: 1000px){
   .cont{
    width: 600px;
    margin: 30px;
   }
    
}
            /* icon */
.cont  .icon{
    display: flex;
    flex-wrap: wrap;
    width: 30px;
    margin-bottom: 04px;
   
    justify-content: flex-end;
    
    
}
.cont  .icon span{
    margin-bottom: 4px;
    background-color: cadetblue;
    transition: 0.5s;

}

.cont .icon .one{
    height: 3px;
    width: 100%;
    margin-bottom: 04px;
}
.links:hover .icon .two{
    width: 100%;
}
.cont .icon .two{
    height: 3px;
    width: 70%;
    margin-bottom: 4px;
}
.cont .icon .three{
    height: 3px;
    width: 100%;
}

                                    /* styling of links */
 .cont .list ul{
    list-style-type: none;
    display: none;
    position: absolute;
    right: 13px;
    padding: 0;
    top: 6px;
    z-index: 1;
   
}
                /* arow of list */
.cont .list ul::before{
    content: '';
    position: absolute;
    top: -11.8%;
    right: 5px;
    border-top: 10px solid transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 12px solid rgba(223, 223, 223, 0.5);
}
.cont .list .links:hover ul{
    display: block;
}
.cont .list ul li{
   
    padding-left: 5px;
    padding-top: 0;
    position: relative;
    left: -5px;
    top: -50%;
    background-color: rgba(223, 223, 223, 0.5);
    width: 150px;
    height: 45px;
    transition: .5s;
    
}

.cont .list ul li:not(:last-child){

border-bottom: 1px solid rgb(195, 195, 195);

}
.cont .list ul li:hover {
    background-color: #00000040;
    padding-left: 10px;
   
   
}
.cont .list ul li a:hover{
    color: white;
}

.cont .list ul li :hover::before{
    content: '';
    background-color: rgb(195, 195, 195);
    border-left: 10px solid rgb(195, 195, 195);
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    width: 6px;
    height: 100%;
    position: absolute;
    left: -16px;
    top: 0;
    transition: .5s;  
 
}
.cont .list ul li a{
    display: block;
    padding: auto;
    padding-top: calc(45px/4);
   text-decoration-line: none;
   font-size: 15px;
   color: rgb(0, 0, 0);
    
}

.buttons{
    position: absolute;
    top: 64%;
    left: 55%;
    transform: translate(-60%,50%);
    width: 480px;
    height: 50px;
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    
    
}

.power-1,.power-2{
    width: 200px;
    height: 50px;
    margin: 15px;
    background-color: transparent;
    border: 1px solid rgb(43, 226, 86);
   border-radius: 30%;
   position: relative;
}
.buttons  {
    transition-delay: 3s;
}



                /* formats of servcise */
.Portfolio .srv{
    text-align: center;
  

}
.Portfolio .srv h2{
    font-size: 7em;
    font-weight: 900;
    color: rgba(166, 164, 164, 0.467);
    margin: 0;
    padding: 0;
    letter-spacing: -5px;
}
@media (max-width : 460px) {
    .Portfolio .srv h2{
        font-size: 4em;
    }
    .Portfolio .srv p{
       
     display: none;
    }
    
}
.Portfolio .srv p{
    margin-top: -30px;
    color: rgba(91, 89, 89, 0.533);
    font-size: 20px;
}
.Portfolio .rowp{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax( 300px, 1fr));
    grid-gap: 15px; 
    padding: 60px;
    margin-top: 60px;
    margin-bottom: 60px;
    background-color: #444;


    
}
.Portfolio .rowp .image{
    background-color: rgb(255, 255, 255);
}
.Portfolio .rowp .image img{
    width: 100%;
}

.Portfolio .rowp .image .para h3{
    font-weight: 800;
}
.Portfolio .rowp .image .para p{
    line-height: 1.5;
    color: rgb(103, 103, 103);
    font-size: 19px;
    font-weight: 100;
   
}
.Portfolio .rowp .image .para{
    padding: 0px 20px;
}

.cont-3{
    text-align: center;
}
.cont-3 .about h2{
    font-size: 7em;
    font-weight: 900;
    color: rgba(166, 164, 164, 0.467);
    margin: 0;
    padding: 0;
    letter-spacing: -5px; 
}
.cont-3 .about p{
    margin-top: -35px;
    color: rgba(91, 89, 89, 0.533);
    font-size: 28px;
    letter-spacing: 2px;
    font-weight: 100;
}
.cont-3  .section-1{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(400px,1fr));
    grid-gap: 27px;
    margin-top: 60px;
    text-align: center;
    padding-left: 30px;
    margin-bottom: 60px;
    margin-right: 35px;
   

}
.cont-3  .section-1 .image-2 img{

max-width: 100%;
}
.cont-3  .section-1 .image-2{
    position: relative;
    width: 350px;
    height: 450px;
    padding-left: 70px;
  
}
@media(max-width: 750px){
    .cont-3 .section-1 .image-2 {
        margin-left: 150px;
    }
}
.cont-3  .section-1 .image-2::before{
    content: '';
    position: absolute;
    background-color: blue;
    width: 25%;
    height: 110%;
    left: 35px;
    z-index: -1;
    top: -8%

}
.cont-3  .section-1 .image-2::after{
    content: '';
    position: absolute;
    border-left: 70px solid red;
    border-bottom: 90px solid red;

    width: 20%;
    height: 70%;
    right: -120px;
    z-index: -1;
    top: -8%;
}
.cont-3  .section-1 .para-2 {
    padding: 50px 10px;
    margin-top: 10%;
    /* margin-left: 0px; */
}
.cont-3  .section-1 .para-2 hr{
    width: 50%;
    padding-left: 0;
    margin-left: 10px;
    background-color: rgb(26, 153, 153);
    height: 1.4px;
}
.cont-3  .section-1 .para-2 p{
    padding: 0;
    margin: 05px;
    line-height: 1.6;
    /* width: 90%; */
    text-align: start;
    /* line-break: anywhere; */
}
.cont-3  .section-1 .para-2 p:first-child{
  font-weight: 800;
}
.contact{
    margin-top: 180px;
    /* padding-top: 80px; */
    text-align: center;
    background-color: rgba(211, 209, 207, 0.383);
    width: 100%;
    height: 500px;
}
.contact .contect-word 
{
    margin-bottom: 100px;
}
.contact .contect-word h2{
    font-size: 7em;
    font-weight: 900;
    color: rgba(166, 164, 164, 0.467);
    margin: 0;
    margin-bottom: ;
    padding: 0;
    letter-spacing: -5px; 
}
.contact .contect-word p{
    margin-top: -35px;
    color: rgba(58, 56, 56, 0.779);
    font-size: 25px;
    padding: 0;
}   
.centanse h3:first-child{
color: rgba(28, 40, 40, 0.962);
font-size: 30px;
}
.centanse h3:first-child{
    color: rgba(28, 40, 40, 0.962);
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 5px;

    }
    .centanse h3:nth-child(2){
        color: rgb(46, 134, 144);
        font-size: 35px;
        font-weight: 900;
    margin-top: -5px;
    margin-bottom: 0;

    }
    .centanse P{
        display: inline-block;
        font-size: large;
        letter-spacing: 2px;
        
    }
    .footer{
        text-align: center;
        background-color: rgb(37, 45, 66);
        
    }
    .footer .symbol p{
        display: inline-block;
        color: white;
        height: fit-content;
        margin-bottom: 40px;
        margin-top: 40px;
        font-size: 20px;
    }
    .footer .symbol p span{
       color: aqua;
       font-weight: 900;
       font-size: large;
    }
    @media  (max-width: 750px) {
    .cont-3  .section-1 .image-2::before{
      
      display: none;
    
    }

    .cont-3  .section-1 .image-2{
        margin: 90px auto;
        width: 500px;
        margin-left: 5px;
        padding-left: 5px;
        margin-bottom: 50px;
        
    }
    .cont-3  .section-1 .image-2::after{
        display: none;

    }
    .centanse h3:nth-child(2){
       
        font-size: 20px;
        font-weight: 900;
    margin-top: -5px;
    margin-bottom: 0;  
}
.cont{
    width: 400px;
    margin: 20px;
   }   
}
/* Logo formats */
.M{
    color: #9aea65;
    font-family: 'Tajawal', sans-serif;
    /* font-family: 'Poppins', sans-serif;
    font-family: 'Square Peg', cursive;
    font-family: 'Tajawal', sans-serif;
    font-family: 'Work Sans', sans-serif; */
    
}
.A{
    color: rgb(149, 234, 237);
    
    /* font-family: 'Castoro', serif; */
    /* /* font-family: 'Poppins', sans-serif; */
    /* font-family: 'Square Peg', cursive; */
    font-family: 'Tajawal', sans-serif;
    /* font-family: 'Work Sans', sans-serif;  */
    
    font-weight: 900;
  
}
.logo{
    /* background-color: rgb(217, 193, 162, 0.5); */
    width: fit-content;
    height: 100%;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}
                        /* styling of head */
.cont {
    position: relative;
   
    margin: auto;
    padding: 10px auto;
}

.icon:hover ul li a{
    background-color: rgb(155, 142, 142);
}
.landing{
    background-image: url(../img/mountain.jpg);
    backface-visibility: hidden;
    background-size: cover;
    height: 100vh;
    position: relative;

}
.landing h1{
    margin: 0;
    font-size: 90px;
    color: aquamarine;
    width: 520px;
    padding-left: 40px;
    line-height: 80px;
    z-index: 1;
}
.landing p{
        color : white;
        font-size: 30px;
        background-color: rgba(68, 65, 65, 0.457);
        width: fit-content;
}
.cont-2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    max-width: 520px;
}
.cl-1{
    text-decoration: none;
    color: white;
}
.featers-2 .contineur-2{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax( 300px, 1fr));
    grid-gap: 15px;
    margin: auto 60px; 
    
}


.featers-2{
    padding-top: 60px;
    padding-bottom: 60px;
    
     margin: auto;
    background-color: rgba(216, 216, 213, 0.264);
    
}
.featers-2 .feat{
    text-align: center;
    margin: 30px auto;

  
    
}
.featers-2 .contineur-2 i{
    font-size: 50px; 
    color: rgb(78, 177, 144);
    }
    .featers-2 .contineur-2 h3{
        font-weight: 800;
        padding: 20px auto;
    }
    .featers-2 .contineur-2 p{
        line-height: 1.9;
        width: 300px;
         
    } 
    
